<div class="content_post">
 <div>
  <img src = "<%= shop.image %>" height = "180" class="photo">
 </div>
  <h2> <%= br(shop.name) %> </h2>
  <div class="text">
  <span><%= shop.text %></span>
  <hr />
  </div>
</div>