.popular-shop-block
  .clearfix
    .shop-image
      %img{:height => "220", :src => shop.image}/
    .shop-detail
      .shop-title
        %a{href: "/shops/#{shop.id}"}
          = br(shop.name)
      .shop-description
        = shop.text