<div id="contents">
 <h1 class="shop-title">店名</h1>
  <div>
   <img src="http://livedoor.blogimg.jp/naganouradoori/imgs/8/5/85976438.jpg" class="photo">
  </div>
  <div class="button-container">
    <a href="#" class="button">Go!</a>
    <a href="#" class="button">Guide!</a>
</div>
  </div>
  <h3 class="shop">お店の説明</h3>
  <hr />
  <h2 class="shop">レビュー</h2>
 <div id="review" >
  <li>
   <div class="detail">
    <h3>美味しいお店</h3>
    <h5>ひっそりとした佇まいのお店。暖簾をくぐると大将が...</h5>
   </div>
  </li>
  <li>
   <h3>美味しいお店</h3>
   <div class="detail">
    <h5>ひっそりとした佇まいのお店。暖簾をくぐると大将が...</h5>
   </div>
  </li>
  <li>
   <h3>美味しいお店</h3>
   <div class="detail">
    <h5>ひっそりとした佇まいのお店。暖簾をくぐると大将が...</h5>
   </div>
  </li>
  <h4>もっと見る>></h4>
  <div class="contents row"> 
  <%= form_tag('/tweets', method: :post) do %> 
  <h2> レビューを投稿する </h2> 
  <textarea cols="30" name="text" placeholder="text" rows="10"></textarea> 
  <input type="submit" value="SENT"> <% end %> 
  </div>
 </div>
</div>

