<div id="contents">
 <p>店名</p>
  <div id="photo">
   <img src="http://livedoor.blogimg.jp/naganouradoori/imgs/8/5/85976438.jpg">
  </div>
  <p>お店の説明</p>

  <h4>レビュー</h4>
 <div class="review" >
  <li>
   <p>美味しいお店</p>
   <div class="detail">
    <p>ひっそりとした佇まいのお店。暖簾をくぐると大将が...</p>
   </div>
  </li>
  <li>
   <p>美味しいお店</p>
   <div class="detail">
    <p>ひっそりとした佇まいのお店。暖簾をくぐると大将が...</p>
   </div>
  </li>
  <li>
   <p>美味しいお店</p>
   <div class="detail">
    <p>ひっそりとした佇まいのお店。暖簾をくぐると大将が...</p>
   </div>
  </li>
 </div>
</div>

