<div id="contents">
 <h1 class="showpage-shop-title"><%= @shop.name %></h1>
  <div>
    <img src="<%= @shop.image %>" class="photo">
  </div>
  
  <input type="checkbox" name="toggle" id="toggle" />
  <label for="toggle"></label>
  <div class="button-container">
    <div class="message"><h1> hello, I'm a hidden message. You found it.</h1>
    </div>
  </div>
  <h3 class="shop"><%= @shop.text %></h3>
  <hr />
  <h2 class="shop">レビュー</h2>
 <div id="review" >
  <li>
   <div class="detail">
    <h3>美味しいお店</h3>
    <h5>ひっそりとした佇まいのお店。暖簾をくぐると大将が...</h5>
   </div>
  </li>
  <li>
   <h3>美味しいお店</h3>
   <div class="detail">
    <h5>ひっそりとした佇まいのお店。暖簾をくぐると大将が...</h5>
   </div>
  </li>
  <li>
   <h3>美味しいお店</h3>
   <div class="detail">
    <h5>ひっそりとした佇まいのお店。暖簾をくぐると大将が...</h5>
   </div>
  </li>
  <h4>もっと見る>></h4>
  <div class="contents row"> 
  <%= form_tag('/tweets', method: :post) do %> 
  <h2> レビューを投稿する </h2> 
  <textarea cols="30" name="text" placeholder="text" rows="10"></textarea> 
  <input type="submit" value="SENT"> <% end %> 
  </div>
 </div>
</div>

