<div class="user-container">
  <section id="Profile">
    <div id="user" class="text-center">
      <div id="img"></div>
      <div id="name">
        <h1>Maggie Wilson</h1>
      </div>
      <div id="social">
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
        </a>
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook-f fa-stack-1x"></i>
          </span>
        </a>
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-line fa-stack-1x"></i>
          </span>
        </a>
    </div>
    </div>
    <div id="content">
      <div id="navigation">
        <ul role="tablist" class="nav nav-tabs nav-justified">
          <li role="presentation">
            <a href="#about" role="tab" data-toggle="tab">
            <i class="fa fa-user fa-3x">
            </i>
            </a>
          </li>
          <li role="presentation">
            <a href="#skills" role="tab" data-toggle="tab">
            <i class="fa fa-trophy fa-3x">
            </i>
            </a>
          </li>
          <li role="presentation">
            <a href="#contact" role="tab" data-toggle="tab">
            <i class="fa fa-envelope-o fa-3x">
            </i>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="about" role="tabpanel" class="tab-pane fade">
            <h3>自己紹介</h3>
            <h4>はじめまして</h4>
          </div>
          <div id="go" role="tabpanel" class="tab-pane fade">
            <h3>行きたい</h3>
            <h4>案内したい人一覧</h4>
          </div>
          <div id="guide" role="tabpanel" class="tab-pane fade">
            <h3>案内したい</h3>
            <h4>行きたい人一覧</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>