// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed');

.popular-shop-block {
  margin-top: 25px;

  .shop-image {
    float: left;
    width: 30%;

    img {
      width: 100%;
    }
  }

  .shop-detail {
    float: right;
    width: 60%;

    .shop-title {
      padding: 2px 5px;
      font-weight: bold;
      background-color: #ffcc99;
    }

    .shop-description {
      padding: 5px;
    }
  }
}

.showpage-shop-title {
  padding: 2px 5px;
  font-weight: bold;
  background-color: #ffcc99;
}

.content_post{
  margin:0 0 15px 0;
}

.content_post h2{
  margin:0 auto;
}

.photo{
  display:block;
  margin:0 auto;
  width:100%;
}

.text{
  padding:0 0 10px 0;
}

hr{
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}

.shop{
  margin:5px 0 10px 0;
}

#review{
  margin:0 0 0 0;
}

.detail h5{
  margin:0 0 0 10px;
}

.detail h3{
  margin:0 0 0 10px;
}

.detail{
  margin:0 0 0 0;
}


