!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Washo
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header#top-head
      .inner
        #mobile-head
          %h1.logo
            %a{href: "/"}
              Washo
          #nav-toggle
            %div
              %span
              %span
              %span
        %nav#global-nav
          %ul
            %li
              %a{:href => "#"} HOME
            %li
              %a{:href => "#"} PRODUCT
            %li
              %a{:href => "#"} WORKS
            %li
              %a{:href => "#"} COMPANY
            %li
              %a{:href => "#"} CONTACT
    = yield

